<div class="col-8 offset-2">
  <h2>注文情報入力</h2>
  <p><%= notice %></p>

  <%= form_with(model:@order, local: true, url: public_orders_confirm_path, method: :post) do |f| %>
  <div>
    <!-- 支払い方法選択 -->
    <h4><strong>支払い方法</strong></h4>
    <label><%= f.radio_button :payment_method, 1, checked: "checked" %> クレジットカード</label><br>
    <label><%= f.radio_button :payment_method, 0 %> 銀行振込</label>
    <!-- お届け先選択 -->
    <h4><strong>お届け先</strong></h4>
    <label><%= f.radio_button :address_number, 1, checked: "checked" %> ご自身の住所</label><br>
    <div style="margin-left: 30px;">
      <%= current_customer.postal_code %> <%= current_customer.address %><br><%= current_customer.full_name %>
    </div>
    <label><%= f.radio_button :address_number, 2 %> 登録済み住所から選択</label>
    <div style="margin-left: 30px;">
      <%= f.collection_select(:address, current_customer.addresses.all, :id, :address_all) %>
    </div>
    <label><%= f.radio_button :address_number, 3 %> 新しいお届け先</label>
    <div style="margin-left: 30px;">
      <%= f.label "郵便番号　" %>
      <%= f.text_field :postal_code, placeholder: "ハイフンなし" %><br>

      <%= f.label "住　　所　" %>
      <%= f.text_field :shipping_address, size: "60" %><br>

      <%= f.label "宛　　名　" %>
      <%= f.text_field :name %><br>
    </div><br>
    <!-- 確認画面ボタン -->
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
