<div class="col-1"></div>

<div class="col-2">
  <!-- ジャンル検索（パーシャル） -->
  <%= render "public/genres/sidebar", genres: @genres %>
</div>
<div class="col-8">
  <!-- 商品一覧 -->
  <h2>商品一覧<span style="font-size:20px;">（全<%= @quantity %>件）</span></h2><br>
  <div class="row">
    <div class="col-10">
    <% @items.each do |item| %>
      <div class="box" style="width: 170px; float:left; margin-right:20px;">
          <%= link_to public_item_path(item.id) do %> <!-- 画像をクリックしたら商品詳細画面へ遷移 -->
          <%= attachment_image_tag item, :image, size: "170x170",  fallback: "no-image2.png"%><br>
        <% end %>
        <p><%= item.item_name %></p>
        <p>税込¥<%= (item.price * 1.1).floor %></p>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-6 col-offset-4 ">
    <%= paginate @items %>
  </div>
</div>
<div class="col-1"></div>